{% extends 'templates/200.html' %}
{% block content %}
<div class="container">
    <h2>Pythonic World View</h2>
    <p>Guessing the code for earth's decisions that don't have any</p>
</div>

{% for comic in comics %}
<div class="jumbotron">
    <div class="container">
        <h2 class="display-3">{{ comic.title }}</h2>
        <pre><code class="python">{{ comic.program }}</code></pre>
    </div>
</div>
{% endfor %}

{% if is_paginated %}
<div class="d-flex justify-content-center">
    <div>
        <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
            <li class="page-item enabled">
                <a class="page-link" href="/comics/{{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">X</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="/comics/{{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="/comics/{{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">X</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}
