{% extends 'templates/200.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Minecraft Server World</h2>
    <p>Friends who breed sheep together, stay together</p>
</div>

<div class="container">
    <div class="row">
        <div class="card mb-3" style="max-width: 20rem;">
            <h3 class="card-header">Stickied!</h3>
            <div class="card-body">
                <h5 class="card-title">Server Details</h5>
                <h6 class="card-subtitle text-muted">Minecraft Vanilla</h6>
            </div>
            <img style="height: 200px; width: 100%; display: block;" src="{% static 'images/mcconn.png' %}"
                 alt="Card image">
            <div class="card-body">
                <p class="card-text">Minecraft world for friends & family to play in. Whitelist users only. If you have a desire to join us in this world, contact Kurt Bomya.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-globe-americas"></i>Connection Details:</li>
                <li class="list-group-item">minecraft.kurtbomya.com</li>
            </ul>
        </div>
        <div class="card mb-3" style="max-width: 20rem;">
            <h3 class="card-header">Stickied!</h3>
            <div class="card-body">
                <h5 class="card-title">Dynmap</h5>
                <h6 class="card-subtitle text-muted">Google Maps like plugin for Minecraft</h6>
            </div>
            <img style="height: 200px; width: 100%; display: block;" src="{% static 'images/mcmap.png' %}"
                 alt="Card image">
            <div class="card-body">
                <p class="card-text">View the world, nether, and end in 2D or 3D. Shows players' location in
                    real-time.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://kurtbomya.com/map">https://kurtbomya.com/map</a></li>
                <li class="list-group-item"><i class="fas fa-exclamation-triangle"></i>If you have issues, force refresh
                    with:
                </li>
                <li class="list-group-item"><i class="far fa-keyboard"></i>CTRL + SHIFT + R</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h1>Minecraft Server Notices:</h1>
    <div class="row">
        {% for post in minecraftnotices %}
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ post.timestamp }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.notice }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
