{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/solarized-dark.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="{% static 'js/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img style="width:60px;height:60px;"
                                              src="{% static 'images/hairsoff.png' %}"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <li class="nav-item {{ comic }}">
                    <a class="nav-link" href="/comics/1/">Comics</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Resume</a>-->
                <!--</li>-->
                <li class="nav-item {{ mc }}">
                    <a class="nav-link" href="/minecraft">Minecraft</a>
                </li>
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">-->
                <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
                <!--<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<div class="footer">
    <div class="d-flex justify-content-center">
        <span style="font-size: 32px">
            <a href="https://twitter.com/bomyakurt"><i class="fab fa-twitter"></i></a>
            <a href="https://gitlab.com/kurtbomya"><i class="fab fa-gitlab"></i></a>
            <a href="https://github.com/rakaim"><i class="fab fa-github"></i></a>
            <a href="https://hub.docker.com/u/rakaim/"><i class="fab fa-docker"></i></a>
        </span>
    </div>
    <div class="d-flex justify-content-center">
        <p>Kurt Bomya</p>
    </div>
    <div class="d-flex justify-content-center">
        <p>2018-10-23</p>
    </div>
</div>

<!--Keep towards the end-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>